:host {
  display: inline-block;
  border: solid black 1px;
  border-radius: 5px 5px 0 0;
  width: 300px;
  padding: 20px;
  margin: 30px;
  text-align: center;
}

:host(.active) {
  border: solid blue 3px;
  padding: 18px;
}
