<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        {{ title }}
      </h1>
      <div class="favorite">
        <app-quote></app-quote>
        <app-author></app-author>
      </div>
      <div class="boring">
        <app-quote></app-quote>
        <app-author></app-author>
      </div>
      <div class="boring">
        <div id="boringel">
          <app-quote></app-quote>
          <app-author></app-author>
        </div>
      </div>
    </div>
  </div>
</div>
